/* Shared CSS ***********************************/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("../images/gravel.png");
}

/* Header *****/

a:link {
    text-decoration: none;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

.nav-item a:link {
    text-decoration: none;
    color: #777777;
}

.nav-item a:visited {
    color: #777777;
}

.nav-item a:hover {
    font-size: 20px;
    color: #4aaaa5;
}

header {
    margin-top: 0;
    background-color: #ffffff;
    height: 60px;
    border-bottom: 2px solid #cccccc;
}

.header-content {
    margin: auto;
    width: 960px;
    background-color: #ffffff;
}

.header-name {
    background-color: #4aaaa5;
    height: 58px;
    float: left;
}

.header-name h1 {
    margin-top: 0px;
    padding: 15px 25px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff; 
}

.nav-items {
    float: right;
}

.nav-item {
    display: inline-block;
    margin-left: 20px;
    color: #777777;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

span {
    display: none;
}

/* Main *****/

.main-section {
    width: 960px;
    background-color:#ffffff;
    margin:  30px auto;
    padding: 20px 40px;
    margin-bottom: 180px;
    border: 1px solid #dddddd;
}

h2 {
    margin-top: 0;
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

hr {
    margin-bottom: 25px;
}

/* Footer *****/

footer {
    position: fixed;
    height: 60px;
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

footer span {
    display: block;
    text-align: center;
    margin-top: 34px;
    color: #dddddd;
    font-size: 10px;
    font-family: 'Georgia', Times, Times New Roman, serif;   
}

/* About Me ************************************************/

#profile-image {
    float: left;
    margin-right: 20px;
}

p {
    margin-top: 0px;
    line-height: 30px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* Contact Page ******************************************/

.input {
    width: 880px;
    height: 30px;
    margin-bottom: 15px;
    margin-top: 5px;
    color: #777777;
}

#message-input {
    width: 880px;
    height: 200px;
    margin-top: 5px;
    color: #777777;
}

label {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

button {
    width: 80px;
    height: 30px;
    margin-top: 10px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

input:focus,
#message-input:focus,
button:focus {
    outline: none !important;
    border:2px solid #4aaaa5;
    box-shadow: 0 0 5px #4aaaa5;
}

/* Portfolio Page *************************************************/

.content-wrapper {
    display: inline-block;
    width: 300px;
    height: 228px;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.content-wrapper h3 {
    text-align: center;
    display: block;
    padding-top: 13px;
    color: #ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.pic {
    width: 100%;
}

.text-wrapper {
    height: 50px;
    width: 100%;
    position: relative;
    margin-top: -30%;
    background-color: #4aaaa5;
}

/**Responsiveness*************/

@media screen and (max-width: 980px) {

    /**Main and Header**/

    .main-section {
        width: 650px;
        margin-left: 60px;
    }

    header {
        width: 975px;
    }

    .header-content {
        margin-left: 60px;
        /* margin-right: 0px; */
        width: 880px;
        
    }

    span {
        display: inline-block;
        color: #e4dbdb;
        padding-left: 10px;
    }

    /**Profile Pic**/

    #profile-image {
        width: 250px;    
    }

    /**Portfolio Page**/

    .main-portfolio {
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 0px;
        
    }

    .portfolio-hr {
        width: 587px;
        margin-left: 0px;
    }

    .content-wrapper {
        width: 277px;
        height: 178px;
        margin-bottom: 55px;
    }

    .special {
        margin-right: 0px;
    }

    .text-wrapper {
        margin-top: -35%;
    }

    /**Contact Page**/

    .input {
        width: 570px;
    }
    
    #message-input {
        width: 570px;
    }
}

@media screen and (max-width: 768px) {

    /**Main and Header**/

    header {
        width: 100%;
    }

    .header-content {
        margin: auto;
        width: 600px;
    }

    .main-section {
        width: 600px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 150px;
    }

    /**Portfolio Page**/

    .main-portfolio {
        width: 600px;
        padding-right: 30px;
    }

    .content-wrapper {
        width: 259px;
        height: 195px;
        margin-right: 15px;
        margin-bottom: 20px;
        /* padding-left: 15px; */
    }

    .special {
        margin-right: 0px;
    }

    .portfolio-hr {
        width: 540px;
    }

    /**Contact Page**/

    .input {
        width: 520px;
    }

    #message-input {
        width: 520px;
    }

}

@media screen and (max-width: 640px) {

    /**Main and Header**/

    header {
        height: 100px;
    }

    .header-content {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
    }

    .header-name {
        width: 100%;
        float: none;
    }

    ul {
        padding-left: 0px;
        margin-top: 10px;
        
    }

    .nav-items {
        float: none;
        padding-left: 0px;
    }

    .nav-item {
        margin-left: 10px;
    }

    .single {
        margin-left: 0px;
        padding:  0px 10px;
    }

    span {
        display: inline-block;
        color: #e4dbdb;
        padding-left: 10px;
    }

    .main-section {
        width: 600px;
        margin-bottom: 150px;
    }

    /**About Me**/

    #profile-image {
        float: none;
        width: 518px;
        margin: auto;
        display: block;
        margin-bottom: 30px;
        

    }

    /**Portfolio Page**/

    .main-portfolio {
        width: 415px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .portfolio-hr {
        width: 368px;
    }

    .content-wrapper {
        display: block;
        width: 368px;
        height: 228px;
        margin: auto;
        margin-bottom: 90px;
    }

    .text-wrapper {
        height: 70px;
        margin-top: -30%;
    }

    .content-wrapper h3 {
        padding-top: 23px;
    }

    .main-section {
        margin-bottom: 150px;
    }

    

}